<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="kobold.vcm"
   name="Kobold VCM Plug-in"
   version="1.0.0"
   provider-name="Werkbold"
   class="kobold.client.vcm.KoboldVCMPlugin">

   <runtime>
      <library name="kobold-vcm.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.team.core"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.externaltools"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.workbench"/>
      <import plugin="kobold.commons"/>
   </requires>


</plugin>
