<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="kobold.client.vcm"
   name="Kobold VCM Plug-in"
   version="1.0.0"
   provider-name="Werkbold"
   class="kobold.client.vcm.KoboldVCMPlugin">

   <runtime>
      <library name="kobold-vcm.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.team.core"/>
      <import plugin="org.eclipse.ui.workbench"/>
      <import plugin="org.eclipse.team.cvs.core"/>
      <import plugin="kobold.commons"/>
      <import plugin="org.eclipse.team.ui"/>
      <import plugin="kobold.client.plam" />
      <import plugin="org.eclipse.ui.console"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>


   <extension
         point="org.eclipse.team.core.repository">
      <repository
            class="kobold.client.vcm.controller.WrapperProvider"
            id="kobold.client.vcm.controller.WrapperProvider">
      </repository>
   </extension>
   <extension
         point="org.eclipse.core.resources.teamHook">
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="kobold.client.plam.model.AbstractAsset"
            id="kobold.client.vcm.contribution1">
         <action
               label="Commit"
               class="kobold.client.vcm.popup.action.CommitAction"
               menubarPath="kobold.client.vcm.menu1/group1"
               enablesFor="1"
               id="kobold.client.vcm.commitaction">
         </action>
         <action
               label="Update"
               class="kobold.client.vcm.popup.action.UpdateAction"
               menubarPath="kobold.client.vcm.menu1/group1"
               enablesFor="1"
               id="kobold.client.vcm.updateaction">
         </action>
         <action
               label="Add"
               class="kobold.client.vcm.popup.action.AddAction"
               menubarPath="kobold.client.vcm.menu1/group1"
               id="kobold.client.vcm.addaction">
         </action>
         <action
               label="Import..."
               class="kobold.client.vcm.popup.action.ImportAction"
               menubarPath="kobold.client.vcm.menu1/group1"
               id="kobold.client.vcm.importaction">
         </action>
         <menu
               label="Version Control"
               id="kobold.client.vcm.menu1"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="kobold.client.vcm.ProjectContributions">
         <action
               label="Unmanage Kobold Project"
               class="kobold.client.vcm.popup.action.DisconnectAction"
               menubarPath="team.main/group2"
               id="kobold.client.vcm.unmanage">
         </action>
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=kobold.client.vcm.controller.WrapperProvider">
         </filter>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.team.ui.configurationWizards">
      <wizard
            name="KOBOLD Versioning"
            icon="icons/full/wizards/fsicon_wiz.gif"
            class="kobold.client.vcm.controller.VCMConfigurationWizard"
            id="kobold.client.vcm.wizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="kobold.client.vcm.preferences.VCMPreferencePage"
            name="VCM Konfiguration"
            id="kobold.client.vcm.preferences.VCMPreferencePage"/>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup class="kobold.client.vcm.VCMStartup"/>
   </extension>

</plugin>
