<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="kobold.client.plam"
   name="Kobold PLAM Plug-in"
   version="1.0.0"
   provider-name="Werkbold"
   class="kobold.client.plam.KoboldPLAMPlugin">

   <runtime>
      <library name="kobold-plam.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.draw2d"/>
      <import plugin="org.eclipse.gef"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.cheatsheets"/>
      <import plugin="kobold.commons"/>
   </requires>


   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.Kobold"
            icon="icons/kobold_persp.png"
            class="kobold.client.plam.PerspectiveFactory"
            id="kobold.client.plam.KoboldPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%editor.Architecture"
            default="true"
            extensions="kae"
            icon="icons/kobold_persp.png"
            contributorClass="kobold.client.plam.editor.KoboldActionBarContributor"
            class="kobold.client.plam.editor.ArchitectureEditor"
            id="kobold.client.plam.editor.ArchitectureEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.view"
            id="KoboldViewCategory">
      </category>
      <view
            name="%view.Roletree"
            icon="icons/kobold_persp.png"
            category="KoboldViewCategory"
            class="kobold.client.plam.view.RoleTreeViewPart"
            id="kobold.client.plam.view.RoleTreeViewPart">
      </view>
      <view
            name="%view.Workflows"
            icon="icons/kobold_persp.png"
            category="KoboldViewCategory"
            class="kobold.client.plam.workflow.WorkflowView"
            id="kobold.client.plam.view.workflowview">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut
               id="kobold.client.plam.KoboldPerspective">
         </perspectiveShortcut>
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               visible="true"
               relationship="left"
               id="kobold.client.plam.view.RoleTreeViewPart">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="KoboldProject"
         name="%nature.KoboldProject"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="kobold.client.plam.KoboldProject">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/kobold_ovr.png"
            natureId="KoboldProject"
            id="kobold.client.plam.NatureImage">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%category.NewWizard"
            id="kobold.client.plam.NewWizardCategory">
      </category>
      <wizard
            name="%newwizard.NewKoboldProjectWizard"
            icon="icons/kobold_persp.gif"
            category="kobold.client.plam.NewWizardCategory"
            class="kobold.client.plam.wizard.NewProjectWizard"
            project="true"
            finalPerspective="kobold.client.plam.KoboldPerspective"
            id="kobold.client.plam.newwizard">
         <description>
            %newwizard.KoboldProjectDescription
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="kobold.client.plam.model.AbstractAsset"
            id="kobold.client.plam.roletreecontribution">
         <action
               enablesFor="1"
               label="%action.GXLExport"
               class="kobold.client.plam.action.GXLExportAction"
               id="kobold.client.plam.action1"/>
         <action
               label="Generate AssetInfo Document"
               class="kobold.client.plam.action.MetaInfoAction"
               id="kobold.client.plam.action2"/>
      </objectContribution>
      <objectContribution
            objectClass="kobold.client.plam.model.product.Product"
            id="kobold.client.plam.roletreecontribution2">
            <action
               enablesFor="1"
               label="GXL Import..."
               class="kobold.client.plam.action.GraphImportAction"
               id="kobold.client.plam.action3"/>
            </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.internal.resources.Project"
            id="kobold.client.plam.roletreecontribution3">
         <action
               label="Update fullname"
               tooltip="Change your fullname here"
               icon="icons/user.gif"
               class="kobold.client.plam.action.UpdateFullNameAction"
               id="kobold.client.plam.action1"/>
         <action
               label="Update password"
               tooltip="Change your current password here"
               icon="icons/user.gif"
               class="kobold.client.plam.action.ChangePasswordAction"
               id="kobold.client.plam.action2"/>
        <action
               label="Create new &amp;users"
               tooltip="Add new users"
               icon="icons/user.gif"
               class="kobold.client.plam.action.NewUserAction"
               id="kobold.client.plam.action3"/>               
      </objectContribution>
      <objectContribution
            objectClass="kobold.client.plam.model.AbstractAsset"
            id="kobold.client.plam.roletreecontribution4">
         <action
               label="Delete Asset"
               class="kobold.client.plam.action.DeleteAssetAction"
               id="kobold.client.plam.DeleteAssetAction">
         </action>
         <visibility>
               <objectClass name="kobold.client.plam.model.AbstractAsset"/>
         </visibility>
         <action
               label="Update"
               class="kobold.client.plam.action.UpdateRelatedComponentAction"
               id="kobold.client.plam.updateRelatedComponetAction"/>
         
      </objectContribution>
<!--      <objectContribution
            objectClass="kobold.client.plam.model.product.RelatedComponent"
            id="kobold.client.plam.relatedAssetContribution">
         <action
               label="Update Related Component"
               class="kobold.client.plam.Action1"
               id="kobold.client.plam.updateRelatedComponent"/>
      </objectContribution> -->
      <objectContribution
            objectClass="kobold.client.plam.model.productline.Variant"
            id="kobold.client.plam.variantContribution">
         <action
               label="Add to Product"
               class="kobold.client.plam.editor.action.AddToProduct"
               id="kobold.client.plam.addProductAction"/>
      </objectContribution>
   </extension>
   <extension
         id="ccc"
         name="kobold"
         point="org.eclipse.ui.preferencePages">
      <page
            class="kobold.client.plam.preferences.MainPreferencePage"
            name="Kobold"
            id="kobold.client.plam.mainpage"/>
      <page
            class="kobold.client.plam.preferences.SSLPreferencePage"
            category="kobold.client.plam.mainpage"
            name="SSL"
            id="kobold.client.plam.SSLPreferencePage"/>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            name="%productName"
            id="kobold.client.plam.cheatsheet.category"/>
      <cheatsheet
            category="kobold.client.plam.cheatsheet.category"
            contentFile="CheatSheets/KoboldTutorial.xml"
            name="Kobold Cheatsheet"
            id="kobold.client.plam.cheatsheet"/>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="kobold.client.plam.editor.ArchitectureEditorInputFactory"
            id="kobold.client.plam.editor.ArchitectureEditorInputFactory"/>
   </extension>

</plugin>
