<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="kobold.client.plam"
   name="Kobold PLAM Plug-in"
   version="1.0.0"
   provider-name="Werkbold"
   class="kobold.client.plam.KoboldPLAMPlugin">

   <runtime>
      <library name="kobold-plam.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.draw2d"/>
      <import plugin="org.eclipse.gef"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="kobold.commons"/>
      <import plugin="kobold.vcm"/>
   </requires>


   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.Kobold"
            icon="icons/kobold_persp.png"
            class="kobold.client.plam.PerspectiveFactory"
            id="kobold.client.plam.KoboldPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%editor.Architecture"
            icon="icons/kobold_persp.png"
            extensions="kae"
            class="kobold.client.plam.editor.ArchitectureEditor"
            id="ArchitectureEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.view"
            id="KoboldViewCategory">
      </category>
      <view
            name="%view.Roletree"
            icon="icons/kobold_persp.png"
            category="KoboldViewCategory"
            class="kobold.client.plam.view.RoleTreeViewPart"
            id="kobold.client.plam.view.RoleTreeViewPart">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut
               id="kobold.client.plam.KoboldPerspective">
         </perspectiveShortcut>
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               visible="true"
               relationship="left"
               id="kobold.client.plam.view.RoleTreeViewPart">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="KoboldProjectNature"
         name="%nature.KoboldProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="kobold.client.plam.KoboldProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/kobold_ovr.png"
            natureId="kobold.client.plam.KoboldProjectNature"
            id="kobold.client.plam.NatureImage">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%category.NewWizard"
            id="kobold.client.plam.NewWizardCategory">
      </category>
      <wizard
            name="%newwizard.NewKoboldProjectWizard"
            id="kobold.client.plam.newwizard"
            category="kobold.client.plam.NewWizardCategory"
            class="kobold.client.plam.wizard.NewProjectWizard"
            descriptionImage="icons/kprojectwiz.gif"
            icon="icons/kobold_persp.gif"
            finalPerspective="kobold.client.plam.KoboldPerspective"
            project="true">
         <description>
            %newwizard.KoboldProjectDescription
         </description>
      </wizard>
   </extension>

</plugin>
